# ========= Dataset =========
DATASET:
  train_dataset: "3DHP"                   # Dataset name, affects load path
  root: "data"                   # Directory containing data_3d_h36m.npz / data_2d_h36m_xxx.npz
  downsample: 1                  # Global downsampling factor
  subset: 1.0                    # Subset ratio (use <1.0 for small-sample experiments)
  receptive_field: 27
  chunk_size: 1
  batch_size: 512
  stride: 1
  Root_idx: 0
  Cross_Dataset: False
  test_dataset: 3DHP
  dataset_type: 'seq2frame'
  frame_stride: 1


  Test:
    actions: '*'   
    P2: True 
    Eval_type: 'Normal' 

# ========= Model =========
MODEL:
  name: "PoseFormer"
  backbone:
    num_frame: 27   # Align data length
    num_joints: 17
    in_chans: 2                     # Input channels (2D coordinates x,y)
    embed_dim_ratio: 32
    depth: 4
    num_heads: 8
    mlp_ratio: 2.0
    qkv_bias: True
    drop_path_rate: 0.1
    boneindextemp: '1,0,15,1,1,2,2,3,3,4,1,5,5,6,6,7,14,8,8,9,9,10,14,11,11,12,12,13,14,15,1,16'


# ========= Loss =========
LOSS:
  - type: "MPJPELoss"
    log_prefix: "mpjpe"
    loss_term_weight: 1.0
  # - type: "Dis_MPJPELoss"
  #   log_prefix: "dis_mpjpe"
  #   loss_term_weight: 1.0
  #   boneindextemp: '0,1,1,2,2,3,0,4,4,5,5,6,0,7,7,8,8,9,9,10,8,11,11,12,12,13,8,14,14,15,15,16'



# ========= Optimizer & Learning Rate =========
OPTIM:
  name: "AdamW"
  lr: 0.00040
  weight_decay: 0.1
  lr_decay: 0.99

SCHED:
  name: "Cosine"
  warmup_epochs: 5
  max_epochs: 400

# ========= Training Engine =========
ENGINE:
  save_name: "3dhp_PoseFormer_lr001_lrd980_dismpjpe_torch23"    # Part of the save path
  amp: true                    # Automatic mixed precision
  find_unused_parameters: False
  log_interval: 50
  val_interval: 1
  save_freq: 200

# ========= Runtime Settings =========
RUNTIME:
  seed: 1

DEBUG: False
EVAL: True