# ========= 数据集部分 =========
DATASET:
  train_dataset: "3DHP"                   # 数据集名称，会影响加载路径
  root: "data"                   # 存放 data_3d_h36m.npz / data_2d_h36m_xxx.npz 的目录
  seq_len: 243                   # 每个 clip 的帧数
  downsample: 1                  # 全局下采样因子
  eval_stride: 243               # 测试时滑窗步长（整段一窗）
  subset: 1.0                    # 子集比例（可用 <1.0 做小样本实验）
  receptive_field: 243
  chunk_size: 243
  batch_size: 768
  stride: 243
  Root_idx: 14
  Cross_Dataset: False
  test_dataset: 3DHP
  dataset_type: 'seq2seq'
  frame_stride: 1

  Test:
    actions: '*'   
    P2: True 

# ========= 模型部分 =========
MODEL:
  name: "MixSTE"
  backbone:
    num_frame: 243   # 对齐数据长度
    num_joints: 17
    in_chans: 2                     # 输入通道（2D坐标 → x,y）
    embed_dim_ratio: 512
    depth: 8
    num_heads: 8
    mlp_ratio: 2.0
    qkv_bias: True
    drop_path_rate: 0.1
    boneindextemp: '0,1,1,2,2,3,0,4,4,5,5,6,0,7,7,8,8,9,9,10,8,11,11,12,12,13,8,14,14,15,15,16'

# ========= 损失 =========
LOSS:
  type: "MPJPELoss"
  log_prefix: "mpjpe"
  loss_term_weight: 1.0
  boneindextemp: '0,1,1,2,2,3,0,4,4,5,5,6,0,7,7,8,8,9,9,10,8,11,11,12,12,13,8,14,14,15,15,16'

# LOSS:
#   type: "Dis_MPJPELoss"
#   log_prefix: "mpjpe"
#   loss_term_weight: 1.0
#   boneindextemp: '0,1,1,2,2,3,0,4,4,5,5,6,0,7,7,8,8,9,9,10,8,11,11,12,12,13,8,14,14,15,15,16'


# ========= 优化器 & 学习率 =========
OPTIM:
  name: "AdamW"
  lr: 0.00013
  weight_decay: 0.1
  lr_decay: 0.993

SCHED:
  name: "Cosine"
  warmup_epochs: 5
  max_epochs: 400

# ========= 训练引擎 =========
ENGINE:
  save_name: "3dhp_mixste_lr00013_lrd993_dismpjpe_torch23"    # 保存路径的一部分
  amp: true                    # 自动混合精度
  find_unused_parameters: false
  log_interval: 50
  val_interval: 1
  save_freq: 200

# ========= 运行时设置 =========
RUNTIME:
  seed: 1

DEBUG: False
EVAL: True