# ========= Dataset =========
DATASET:
  train_dataset: "3DHP"                   # Dataset name, affects load path
  root: "data"                   # Directory containing data_3d_h36m.npz / data_2d_h36m_xxx.npz
  seq_len: 243                   # Number of frames per clip
  downsample: 1                  # Global downsampling factor
  eval_stride: 243               # Sliding-window stride during evaluation (full segment per window)
  subset: 1.0                    # Subset ratio (use <1.0 for small-sample experiments)
  receptive_field: 243
  chunk_size: 243
  batch_size: 768
  stride: 243
  Root_idx: 14
  Cross_Dataset: False
  test_dataset: 3DHP
  dataset_type: 'seq2seq'
  frame_stride: 1

  
  Test:
    actions: '*'   
    P2: True         

# ========= Model =========
MODEL:
  name: "D3DP"
  backbone:
    num_frame: 243   # Align data length
    num_joints: 17
    in_chans: 5                     # Input channels (2D coordinates x,y)
    embed_dim_ratio: 512
    depth: 8
    num_heads: 8
    mlp_ratio: 2.0
    qkv_bias: True
    drop_rate: 0.
    attn_drop_rate: 0.
    drop_path_rate: 0.2
    is_train: True
    test_time_augmentation: True
    timestep: 1000
    scale: 1
    num_proposals: 1
    sampling_timesteps: 1
    boneindextemp: '1,0,15,1,1,2,2,3,3,4,1,5,5,6,6,7,14,8,8,9,9,10,14,11,11,12,12,13,14,15,1,16'

LOSS:
  - type: "MPJPELoss"
    log_prefix: "mpjpe"
    loss_term_weight: 1.0


# ========= Optimizer & Learning Rate =========
OPTIM:
  name: "AdamW"
  lr: 0.00014
  weight_decay: 0.1
  lr_decay: 0.993

SCHED:
  name: "Cosine"
  warmup_epochs: 5
  max_epochs: 400

# ========= Training Engine =========
ENGINE:
  save_name: "3dhp_D3DP_lr00014_lrd993_dismpjpe_torch23"  
  amp: true                    # Automatic mixed precision
  find_unused_parameters: false
  log_interval: 50
  val_interval: 1
  save_freq: 200

# ========= Runtime Settings =========
RUNTIME:
  seed: 1

DEBUG: False
EVAL: True
