# ========= Dataset =========
DATASET:
  train_dataset: "H36M"                   # Dataset name, affects load path
  root: "data"                   # Directory containing data_3d_h36m.npz / data_2d_h36m_xxx.npz
  keypoints: "cpn_ft_h36m_dbb"   # Name of the 2D keypoint detector you use
  subjects_train: "S1,S5,S6,S7,S8"   # Training subjects
  subjects_unlabeled:  ""           # Test subjects
  subjects_test: "S9,S11"             # For semi-supervised use (optional)
  seq_len: 243                   # Number of frames per clip
  downsample: 1                  # Global downsampling factor
  train_stride: 81               # Sliding-window stride during training (e.g., 81)
  eval_stride: 243               # Sliding-window stride during evaluation (full segment per window)
  subset: 1.0                    # Subset ratio (use <1.0 for small-sample experiments)
  number_of_frames: 243
  batch_size: 768
  stride: 243
  Root_idx: 14
  Cross_Dataset: True
  test_dataset: 3DHP

  Test:
    actions: '*'   
    P2: True 

# ========= Model =========
MODEL:
  name: "MixSTE"
  backbone:
    num_frame: 243   # Align data length
    num_joints: 16
    in_chans: 2                     # Input channels (2D coordinates x,y)
    embed_dim_ratio: 512
    depth: 8
    num_heads: 8
    mlp_ratio: 2.0
    qkv_bias: True
    drop_path_rate: 0.1

# ========= Loss =========
LOSS:
  type: "MPJPELoss"
  log_prefix: "mpjpe"
  loss_term_weight: 1.0

LOSS_EVAL:
  type: "MPJPELoss"
  log_prefix: "mpjpe"
  loss_term_weight: 1.0


# ========= Optimizer & Learning Rate =========
OPTIM:
  name: "AdamW"
  lr: 0.0001
  weight_decay: 0.1
  lr_decay: 0.988

SCHED:
  name: "Cosine"
  warmup_epochs: 5
  max_epochs: 400

# ========= Training Engine =========
ENGINE:
  save_name: "h36m_mixste_test_CD"    # Part of the save path
  amp: true                    # Automatic mixed precision
  find_unused_parameters: false
  log_interval: 50
  val_interval: 1
  save_freq: 200

# ========= Runtime Settings =========
RUNTIME:
  seed: 1

DEBUG: False
EVAL: True