# ========= Dataset =========
DATASET:
  train_dataset: "H36M"                   # Dataset name, affects load path
  root: "data"                   # Directory containing data_3d_h36m.npz / data_2d_h36m_xxx.npz
  keypoints: "cpn_ft_h36m_dbb"   # Name of the 2D keypoint detector you use
  subjects_train: "S1,S5,S6,S7,S8"   # Training subjects
  subjects_unlabeled:  ""           # Test subjects
  subjects_test: "S9,S11"             # For semi-supervised use (optional)
  seq_len: 243                   # Number of frames per clip
  downsample: 1                  # Global downsampling factor
  eval_stride: 243               # Sliding-window stride during evaluation (full segment per window)
  subset: 1.0                    # Subset ratio (use <1.0 for small-sample experiments)
  receptive_field: 243
  chunk_size: 243
  batch_size: 768
  stride: 243
  Root_idx: 0
  Cross_Dataset: False
  test_dataset: H36M
  dataset_type: 'seq2seq'
  frame_stride: 1

  Test:
    actions: '*'   
    P2: True         
    Eval_type: 'JPMA' 

# ========= Model =========
MODEL:
  name: "DDHPose"
  backbone:
    num_frame: 243   # Align data length
    num_joints: 17
    in_chans: 6                     # Input channels (2D coordinates x,y)
    embed_dim_ratio: 512
    depth: 8
    num_heads: 8
    mlp_ratio: 2.0
    qkv_bias: True
    drop_rate: 0.
    attn_drop_rate: 0.
    drop_path_rate: 0.2
    is_train: True
    test_time_augmentation: True
    timestep: 1000
    scale: 1
    num_proposals: 1
    sampling_timesteps: 1
    boneindextemp: '0,1,1,2,2,3,0,4,4,5,5,6,0,7,7,8,8,9,9,10,8,11,11,12,12,13,8,14,14,15,15,16'

# ========= Loss =========
LOSS:
  - type: "MPJPELoss"
    log_prefix: "mpjpe"
    loss_term_weight: 1.0
  - type: "Dis_MPJPELoss"
    log_prefix: "dis_mpjpe"
    loss_term_weight: 1.0
    boneindextemp: '0,1,1,2,2,3,0,4,4,5,5,6,0,7,7,8,8,9,9,10,8,11,11,12,12,13,8,14,14,15,15,16'
  # - type: "TemporalConsistencyLoss"
  #   log_prefix: "diff_mpjpe"
  #   loss_term_weight: 1.0
  #   dataset: "H36M"

# ========= Optimizer & Learning Rate =========
OPTIM:
  name: "AdamW"
  lr: 0.0001
  weight_decay: 0.1
  lr_decay: 0.990

SCHED:
  name: "Cosine"
  warmup_epochs: 5
  max_epochs: 400

# ========= Training Engine =========
ENGINE:
  save_name: "h36m_DDHPose_test_time"    # Part of the save path
  amp: true                    # Automatic mixed precision
  find_unused_parameters: true
  log_interval: 50
  val_interval: 1
  save_freq: 200

# ========= Runtime Settings =========
RUNTIME:
  seed: 1

DEBUG: False
EVAL: True