# ========= 数据集部分 =========
DATASET:
  train_dataset: "H36M"                   # 数据集名称，会影响加载路径
  root: "data"                   # 存放 data_3d_h36m.npz / data_2d_h36m_xxx.npz 的目录
  keypoints: "cpn_ft_h36m_dbb"   # 你用的 2D 关键点检测器名字
  subjects_train: "S1,S5,S6,S7,S8"   # 训练 subject
  subjects_unlabeled:  ""           # 测试 subject
  subjects_test: "S9,S11"             # 半监督用的（可空）
  downsample: 1                  # 全局下采样因子
  subset: 1.0                    # 子集比例（可用 <1.0 做小样本实验）
  receptive_field: 27
  chunk_size: 1
  batch_size: 1024
  stride: 1
  Root_idx: 0
  Cross_Dataset: False
  test_dataset: H36M
  dataset_type: 'seq2frame'
  frame_stride: 1


  Test:
    actions: '*'   
    P2: True 
    Eval_type: 'Normal' 

# ========= 模型部分 =========
MODEL:
  name: "MHFormer"
  backbone:
    num_frame: 27 
    num_block: 3
    num_joints: 17
    embed_dim_ratio: 512
    d_hid: 1024

    
    

# ========= 损失 =========
LOSS:
  type: "MPJPELoss"
  log_prefix: "mpjpe"
  loss_term_weight: 1.0



# ========= 优化器 & 学习率 =========
OPTIM:
  name: "AdamW"
  lr: 0.00012
  weight_decay: 0.001
  lr_decay: 0.950

SCHED:
  name: "Cosine"
  warmup_epochs: 5
  max_epochs: 400

# ========= 训练引擎 =========
ENGINE:
  save_name: "h36m_MHFormer_lr0012_lrd950_amp"    # 保存路径的一部分
  amp: true                    # 自动混合精度
  find_unused_parameters: False
  log_interval: 50
  val_interval: 1
  save_freq: 200

# ========= 运行时设置 =========
RUNTIME:
  seed: 1

DEBUG: False
EVAL: True